{% extends "base.html" %}

{% block external_header %}<link rel="stylesheet" href="/static/css/exercise.css">{% endblock %}

{% block title %}試験問題{% endblock %}

{% block content %}

<h1 class="title">応用情報技術者試験過去問道場</h1>

    <p class="p1">"選択した出題内容を表示"</p>

    <p style="font-size: 30px;">第{{ ex_number }}問</p>

    <div class="question-sentence">
      <li style="">{{ paragraph }}</li>
    </div>

    <div class="choice2">
    {% for select in selections %}
      <p>{{ select.key }}.  {{ select.value }}</p>
    {% endfor %}
    </div>

    <div class="options">
    {% for select in selections %}
      <a class="option" href="{% url 'answer' year id %}">{{ select.key }}</a>
    {% endfor %}
    </div>
{% endblock %}
